					
<!-- Main -->
<div id="main">

    <!-- Header -->
        <header id="header">
            <h1>Grandes Peliculas</h1>
            <p><a href="http://html5up.net">Sitio Web desarrollado con Ruby on Rails por Francisca Olivares Vecchiola</a></p>
            <ul class="icons">
                <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
                <li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
            </ul>
        </header>

    <!-- Thumbnail -->
        <section id="thumbnails">
            <article>
                <a class="thumbnail" href="<%= image_path('fulls/01.jpg') %>" data-position="left center"><%= image_tag('thumbs/01.jpg', alt: '', width: 360, height: 225) %></a>
                <%= link_to "El Cisne Negro", "/el_cisne_negro" %>
                <p>Película estadounidense de suspenso y terror psicológico dirigida en 2010 por Darren Aronofsky</p>
            </article>
            <article>
                <a class="thumbnail" href="<%= image_path('fulls/02.jpg') %>"><%= image_tag('thumbs/02.jpg', alt: '') %></a>
                <%= link_to "Django sin Cadenas", "/django_sin_cadenas" %>
                <p>Película estadounidense del género western escrita y dirigida en 2012 por Quentin Tarantino</p>
            </article>
            <article>
                <a class="thumbnail" href="<%= image_path('fulls/03.jpg') %>" data-position="top center"><%= image_tag('thumbs/03.jpg', alt: '') %></a>
                <%= link_to "Matrix Recargado", "/matrix_recargado" %>
                <p>Película de acción y ciencia ficción de 2003 escrita y dirigida por las hermanas Wachowski</p>
            </article>
            <article>
                <a class="thumbnail" href="<%= image_path('fulls/04.jpg') %>"><%= image_tag('thumbs/04.jpg', alt: '') %></a>
                <%= link_to "Forest Gump", "/forest_gump" %>
                <p>Película estadounidense cómica dramática estrenada en 1994. Basada en la novela homónima del escritor Winston Groom, la película fue dirigida por Robert Zemeckis </p>
            </article>
            <article>
                <a class="thumbnail" href="<%= image_path('fulls/05.jpg') %>" data-position="top center"><%= image_tag('thumbs/05.jpg', alt: '') %></a>
                <%= link_to "Kill Bill: Volumen 1", "/kill_bill_volumen_1" %>
                <p>Película de acción y suspenso estadounidense escrita y dirigida en 2003 por Quentin Tarantino</p>
            </article>
            <article>
                <a class="thumbnail" href="<%= image_path('fulls/06.jpg') %>"><%= image_tag('thumbs/06.jpg', alt: '') %></a>
                <%= link_to "Los Otros", "/los_otros" %>
                <p>Película hispano-estadounidense​ de 2001 dirigida por el hispano-chileno Alejandro Amenábar</p>
            </article>
            <article>
                <a class="thumbnail" href="<%= image_path('fulls/07.jpg') %>"><%= image_tag('thumbs/07.jpg', alt: '') %></a>
                <%= link_to "The Matrix", "/the_matrix" %>
                <p>Película de acción y ciencia ficción de 1999 escrita y dirigida por las hermanas Wachowski.</p>
            </article>
            <article>
                <a class="thumbnail" href="<%= image_path('fulls/08.jpg') %>"><%= image_tag('thumbs/08.jpg', alt: '') %></a>
                <%= link_to "Bastardos Sin Gloria", "/bastardos_sin_gloria" %>
                <p>Película de 2009 escrita y dirigida por Quentin Tarantino</p>
            </article>
            <article>
                <a class="thumbnail" href="<%= image_path('fulls/09.jpg') %>"><%= image_tag('thumbs/09.jpg', alt: '') %></a>
                <%= link_to "Perros de la Calle", "/perros_de_la_calle" %>
                <h2></h2>
                <p>Película estadounidense del año 1992 dirigida y escrita por Quentin Tarantino, siendo esta su debut como director.</p>
            </article>
            <article>
                <a class="thumbnail" href="<%= image_path('fulls/10.jpg') %>"><%= image_tag('thumbs/10.jpg', alt: '') %></a>
                <%= link_to "Pulp fiction", "/pulp_fiction" %>
                <p>Película estadounidense de 19944​ escrita y dirigida por Quentin Tarantino</p>
            </article>
            <article>
                <a class="thumbnail" href="<%= image_path('fulls/11.jpg') %>"><%= image_tag('thumbs/11.jpg', alt: '') %></a>
                <%= link_to "El Padrino", "/el_padrino" %>
                <p>Película estadounidense de 1972 dirigida por Francis Ford Coppola</p>
            </article>
            <article>
                <a class="thumbnail" href="<%= image_path('fulls/12.jpg') %>"><%= image_tag('thumbs/12.jpg', alt: '') %></a>
                <%= link_to "El Silencio de los Inocentes", "/el_silencio_de_los_inocentes" %>
                <p>Película estadounidense de 1991 de los géneros terror y suspenso psicológico, dirigida por Jonathan Demme</p>
            </article>
        </section>

    <!-- Footer -->
        <footer id="footer">
            <ul class="copyright">
                <li>&copy; Untitled.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a>.</li>
            </ul>
        </footer>

</div>