<div class="row">
    <div class="col-md-9 order-2 scrollable-column">
        <h1>Forest Gump</h1>
        <br>
        <div class="container">
            <%= image_tag('fulls/04.jpg', width: 400, height: 300)%>
        </div>
        
        <br>
        <br>
        <p>Forrest Gump es una película estadounidense cómica dramática estrenada en 1994. Basada en la novela homónima del escritor Winston Groom, la película fue dirigida por Robert Zemeckis y protagonizada por Tom Hanks, Robin Wright, Gary Sinise y Sally Field. La historia describe varias décadas de la vida de Forrest Gump, un nativo de Alabama que sufre una leve discapacidad mental. Eso no le impide ser testigo privilegiado, y en algunos casos actor decisivo, de muchos de los momentos más transcendentales de la historia de los Estados Unidos en la segunda mitad del siglo xx, específicamente entre 1945 y 1982.

            La película difiere sustancialmente de la novela en que se basa, entre otras cosas en la propia personalidad del protagonista y en los diversos eventos en los que se ve envuelto. El rodaje se realizó en 1993, principalmente en los estados norteamericanos de Georgia, Carolina del Norte y Carolina del Sur. Se usaron numerosos efectos visuales para integrar al protagonista en imágenes históricas reales y recrear otras escenas. En la banda sonora, la película incluye numerosas canciones propias de cada época que en ella se retratan, una recopilación musical que en su salida comercial como álbum fue todo un éxito gracias a los ocho millones de copias vendidas en todo el mundo.
            
            Estrenada en Estados Unidos el 6 de julio de 1994, Forrest Gump recibió alabanzas de la crítica especializada y fue un gran éxito de público, pues se convirtió en la segunda película más taquillera del año en Norteamérica, solo detrás de El rey león, y recaudó en todo el mundo 677 millones de dólares. La película fue galardonada con los premios Óscar a mejor película, mejor director (Robert Zemeckis), mejor actor (Tom Hanks), mejor guion adaptado, mejores efectos especiales y mejor montaje. Recibió otras muchas nominaciones y premios, entre ellos los Globo de Oro, los premios People's Choice y los Young Artist. En 2011 la Biblioteca del Congreso de Estados Unidos seleccionó Forrest Gump para ser preservada en el National Film Registry por ser «cultural, histórica o estéticamente significante»</p>

        <hr>
        

        <h3 id="argumento">Argumento</h3> <br>
        
        <p> Mientras espera sentado en una parada de autobús, Forrest Gump comienza a relatar la historia de su vida a diversos extraños que se sientan junto a él. Su narración comienza por la infancia, cuando tuvo que llevar unos aparatos ortopédicos en las piernas, que provocaron el acoso y la burla de otros niños. Él vivía con su madre en una casa en el campo en la que alquilaban habitaciones. Allí Forrest enseñó a uno de los huéspedes, un joven Elvis Presley, a bailar de una forma peculiar que luego este haría mundialmente famosa. En el bus escolar durante su primer día de clase Forrest conoce a Jenny, de la que se enamora inmediatamente y de la que se hace su mejor amigo. También en su infancia Forrest descubre que es capaz de correr muy rápido, una habilidad que impresiona al entrenador de fútbol americano Bear Bryant y que le permite ingresar, a pesar de su leve retraso mental, en la Universidad de Alabama. Allí es testigo de la Parada en la Puerta de la Escuela que protagonizó George Wallace en 1963. En esa época también es seleccionado por el equipo All-America de fútbol y conoce en persona en la Casa Blanca al presidente John F. Kennedy.

            Tras graduarse en la universidad, Forrest se alista en el ejército de los Estados Unidos, donde se hace íntimo amigo de Benjamin Buford «Bubba» Blue, un afroamericano con el que acuerda probar suerte en un futuro en el negocio de la pesca de gambas. Ambos son enviados a la guerra de Vietnam y estando allí Forrest se da cuenta de que Jenny aparece en una edición de la revista erótica Playboy. Cuando su pelotón cae en una emboscada, Forrest consigue salvar, gracias a su veloz carrera, a numerosos compañeros, entre ellos a su teniente Dan Taylor, pero no puede evitar la muerte de su amigo Bubba. El propio Forrest resulta herido en la acción en el que le condecoran con el Corazón Púrpura, pero su valentía es reconocida con la Medalla de Honor, que le entrega en persona el presidente Lyndon B. Johnson. Mientras permanece en el hospital recuperándose de su herida de guerra, Gump vuelve a encontrarse con el teniente Dan, quien ha perdido ambas piernas y está furioso con él por haberlo salvado en lugar de dejarlo afrontar su destino: morir en el campo de batalla al igual que todos sus antepasados. En Washington D. C., Forrest se ve inmerso en una enorme manifestación pacifista en el National Mall y allí se reúne con Jenny, que entonces forma parte del movimiento contracultural Hippie. Ambos pasan la noche caminando por la capital, pero a la mañana siguiente ella se marcha junto a su novio.
            
            En esa época Forrest descubre su gran habilidad en la práctica del tenis de mesa y comienza a jugar para el equipo del ejército de los Estados Unidos, con el que acaba compitiendo contra el equipo chino durante una gira de buena voluntad al país asiático. Vuelve a visitar la Casa Blanca, donde conoce al presidente Richard Nixon. Alojado después en el hotel Watergate, una noche Forrest ayuda sin proponérselo a exponer el escándalo Watergate. Gracias a sus ya entonces numerosas hazañas, Gump es invitado a un famoso programa de televisión, en el que coincide con John Lennon, y a la salida del cual vuelve a toparse con su antiguo teniente Dan Taylor, que ahora vive de la pensión del gobierno. Dan desprecia los planes de Forrest para comenzar en el negocio de la pesca de gambas y de forma burlona le promete que será su primer oficial en el barco si llega a tener éxito en esa empresa.
            
            Empleando el dinero que ganó jugando al tenis de mesa, Forrest compra un barco pesquero que bautiza con el nombre de Jenny y comienza así a cumplir la promesa que le hizo a su amigo Bubba, muerto en Vietnam. El minusválido Dan también cumple su promesa y se presenta para ayudar a Forrest en el negocio. Al principio no tienen ninguna suerte en la pesca de gambas, pero gracias a los devastadores efectos del huracán Carmen, que destruye toda la flota pesquera competidora del barco de Forrest, la Bubba Gump Shrimp Company obtiene unas ganancias enormes. Dan finalmente le da las gracias a Gump por haberlo salvado de la muerte en la guerra. Entonces Forrest regresa a casa para cuidar de su madre enferma, que muere de cáncer poco después. El negocio pesquero había quedado en manos del teniente Dan, quien acertadamente invierte las ganancias en acciones de la compañía informática Apple y los convierte a ambos en millonarios.

            Jenny regresa a visitar a Forrest y se queda un tiempo con él, circunstancia que este aprovecha para pedirle matrimonio. Ella se niega y acaba por marcharse una mañana, antes de que él despierte. Angustiado, Gump decide comenzar a correr y lo que al principio solo iban a ser unos kilómetros acaba por convertirse en una larguísima maratón de costa a costa del país que dura tres años, en el transcurso de la cual se convierte en una celebridad y atrae numerosos seguidores. Un día detiene súbitamente su carrera y decide regresar a casa. Allí recibe una carta de Jenny en la que le pide que se reúna con ella, lo que lo lleva a la parada de autobús en la que lo vemos al principio de la película. Ya en casa de Jenny, ella le revela que tienen un hijo en común, también llamado Forrest, y que está enferma de un virus desconocido. Ella le propone matrimonio y él acepta. Los tres regresan a la casa de Forrest en Alabama y organizan una boda pequeña a la cual asiste el teniente Dan, ya comprometido y con piernas nuevas de aleación de titanio. Jenny y Forrest contraen matrimonio, pero ella muere poco después. En la última escena de la película, Forrest y su hijo esperan en la parada del autobús escolar en el primer día de escuela del chico. Mientras se aleja el autobús, Forrest padre se sienta en el mismo tocón de árbol en que lo hizo su madre el primer día que él fue al colegio y se queda mirando el vuelo de una pluma, la misma que aparece al principio.</p>

        <hr>
    

        <h3 id="reparto">Reparto</h3> <br>
        <p>Tom Hanks como Forrest Gump <br>
            Robin Wright como Jenny Curran <br>
            Gary Sinise como el teniente Dan Taylor <br>
            Mykelti Williamson como Benjamin Buford «Bubba» Blue <br>
            Sally Field como la Sra. Gump. Madre de Forrest <br>
            Haley Joel Osment como Forrest Gump Jr. Hijo de Forrest y Jenny <br>
            Peter Dobson como Elvis Presley <br>
            Dick Cavett como él mismo <br>
            Sam Anderson como el director Hancock <br>
            Geoffrey Blake como Wesley <br>
            Siobhan Fallon Hogan como Dorothy Harris <br>
            Sonny Shroyer como el entrenador Paul «Bear» Bryant <br>
            Grand L. Bush, Conor Kennelly y Teddy Lane Jr. como los Panteras Negras <br>
        </p>

        <hr>
        

        <h3 id="produccion">Producción</h3> <br>
        <h5>Guión</h5>
        <p>La película se basa en la novela homónima de Winston Groom publicada en 1986. Ambas se centran en Forrest Gump, pero la película recrea esencialmente los primeros once capítulos del libro para luego saltar hacia el final de la novela, a la creación de la compañía pesquera Bubba Gump y el encuentro entre padre e hijo. Además de omitir algunas partes de la novela de Groom, la película añade algunas situaciones a la vida de Forrest que no aparecen en el libro, como los aparatos ortopédicos que lleva en las piernas siendo niño o su larga maratón de tres años a lo largo de Estados Unidos.11​ La personalidad y el carácter de Forrest no son iguales en la película y en el libro, pues en el segundo Gump es un autista muy culto que mientras está en la universidad suspende en manualidades y gimnasia pero recibe excelentes calificaciones en física, unas clases a las que le apunta su entrenador con la finalidad de que satisfaga los requerimientos de la universidad. En la novela Gump también es astronauta, luchador profesional y ajedrecista, pero nada de esto aparece en la película.11​ En cuanto a la elección de director, los productores ofrecieron el puesto de realizador a dos cineastas antes de escoger a Robert Zemeckis: Terry Gilliam no aceptó12​ y Barry Sonnenfeld declinó para dirigir en su lugar La familia Addams: la tradición continúa.13​</p>

        <h5>Rodaje</h5>
        <p>El rodaje de Forrest Gump dio comienzo en agosto de 1993 y terminó cuatro meses después, en diciembre del mismo año.14​ Aunque la mayor parte de la película se desarrolla en Alabama, el rodaje tuvo lugar esencialmente en Beaufort, Carolina del Sur, así como en algunas zonas costeras de Virginia y Carolina del Norte.4​ La escena de Forrest corriendo por la selva vietnamita mientras escapa del fuego del Vietcong se rodó en la isla Fripp, Carolina del Sur.15​ Otras escenas se recrearon en la casa Biltmore en Asheville y a lo largo de la Blue Ridge Parkway, cerca de Boone, ambos en Carolina del Norte. Otro lugar de rodaje, la carretera que cruza el área protegida de la montaña Grandfather en Carolina del Norte, tiene en la actualidad un tramo que se llama «curva Forrest Gump».16​ La casa familiar de los Gump y el hogar de infancia de Jenny se construyeron cerca del río Combahee, en las inmediaciones de Yemassee, Carolina del Sur. Muy cerca de allí se filmaron también algunas escenas de Vietnam, para cuya recreación hubo que plantar veinte palmeras.17​ También cabe destacar que la parada de autobús en la que Forrest Gump cuenta su historia está en la plaza Chippewa de Savannah, Georgia. En los alrededores de esta ciudad también se rodaron algunas escenas: en el puente Houlihan de Port Wentworth y en la calle West Bay de la propia Savannah.17​ Por su parte, la mayoría de las escenas del campus universitario se filmaron en la Universidad del Sur de California en Los Ángeles.17​</p>

        <h5>Efectos Visuales</h5>
        <p>Los numerosos efectos visuales de la película son obra de Ken Ralston y su equipo de Industrial Light & Magic. El uso de técnicas de animación por ordenador hizo posible insertar a Forrest Gump en imágenes de archivo junto a personajes históricos ya desaparecidos, a los que incluso llega a estrechar la mano. Para conseguirlo se filmó primero a Tom Hanks delante de fondos azules en los que situaban unos marcadores de referencia que luego ayudaban a alinear al actor en el sitio adecuado dentro de las imágenes de archivo.18​ Las voces de los personajes históricos se grabaron aparte con actores de doblaje, pero para conseguir la sincronía de labios en los nuevos diálogos hubo que modificar digitalmente los movimientos de las bocas de las figuras históricas.10​

            En una de las escenas de la guerra de Vietnam, Forrest arrastra a Bubba para alejarlo de un inminente ataque con bombas de napalm. Para conseguir la escena primero unos especialistas compusieron los movimientos y luego se filmó a Hanks corriendo con Williamson a la espalda, este último colgado de un cable para facilitar la carrera de Hanks cargando con su peso. Después se filmó la explosión en el mismo lugar, tras lo cual se unieron digitalmente ambas tomas. Los aviones bombarderos y las bombas de napalm también se añadieron digitalmente.19​
            
            Las piernas amputadas del teniente Dan también se consiguieron con técnicas digitales, un efecto que se logró envolviendo sus piernas con una tela azul, un color que luego facilitaba la tarea de eliminar las extremidades seccionadas fotograma a fotograma. Cuando el teniente Dan aparece en silla de ruedas, el actor está sentado sobre sus propias piernas.20​
            
            La escena en la que Forrest interviene en la gran manifestación pacifista en el National Mall de Washington y se encuentra con Jenny también necesitó de efectos especiales para recrear una concentración de muchos miles de personas. Se usaron 1500 extras durante dos días de filmación.21​ En cada toma, el grupo de extras se trasladaba a un cuadrante diferente hasta completar todo el espacio. Después, con la ayuda de ordenadores, se unieron todas esas tomas y se creó la impresión de estar viendo una multitud de varios cientos de miles de personas.4​21</p>

        <hr>
        
    </div>
    <div class="col-md-3 order-1 align-self-start mt-4">
        <h3>Tabla de Contenido</h3>
        <ul class = "list">
            <li><%= link_to 'Argumento', '#argumento' %></li>
            <li><%= link_to 'Reparto', '#reparto' %></li>
            <li><%= link_to 'Producción', '#produccion' %></li>
            <br>
            <%= link_to "Volver al Inicio", "/" %>
        </ul>
    </div>

</div>