<div class="row">
    <div class="col-md-9 order-2 scrollable-column">
        <h1>Forest Gump</h1>
        <br>
        <div class="container">
            <%= image_tag('fulls/10.jpg', width: 400, height: 300)%>
        </div>
        
        <br>
        <br>
        <p>Pulp Fiction (conocida como Tiempos violentos en Hispanoamérica) es una película estadounidense de 19944​ escrita y dirigida por Quentin Tarantino. El guion está basado en historias que el mismo Tarantino desarrolló en colaboración con Roger Avary[aclaración requerida] durante los años 1992 y 1993, incluyendo escenas que originalmente habían sido escritas para True Romance. A partir de una narrativa no lineal, la película entrelaza varias historias cuyos protagonistas son miembros del crimen organizado de Los Ángeles. Los diálogos estilizados, la mezcla de humor y violencia y su tono irónico distinguen a la película. Su nombre deriva de las revistas de literatura pulp y las novelas gráficas hard boiled, muy populares a mediados del siglo xx, conocidas por su violencia gráfica y su prosa dura. Es protagonizada por John Travolta, Uma Thurman, Samuel L. Jackson, Harvey Keitel, Bruce Willis y Tim Roth, entre otros. Es considerada una de las cintas más representativas de la obra del director estadounidense, siendo una de las obras que le consagró como cineasta.5​6​

            Se estrenó el 21 de mayo de 19947​ en el Festival de Cine de Cannes, donde consiguió la Palma de Oro.8​9​ Posteriormente, fue galardonada con el Globo de Oro al mejor guion10​ y obtuvo siete candidaturas en la 67ª edición de los Premios Óscar (entre ellos mejor película y mejor director) y, aunque solo obtuvo el Óscar al mejor guion original,11​12​ recibió más de cuarenta premios internacionales y otras tantas nominaciones. En 2013, la película fue considerada «cultural, histórica y estéticamente significativa» por la Biblioteca del Congreso de Estados Unidos y seleccionada para su preservación en el National Film Registry.13​
            
            Pulp Fiction está considerada como uno de los principales representantes del cine posmoderno.14​ Además, su estructura y su estilo poco convencionales la han convertido en una película de culto cuya influencia se ha dejado sentir en otras películas, así como en otros campos culturales</p>

        <hr>
        

        <h3 id="argumento">Argumento</h3> <br>
        
        <p> Pulp Fiction está narrada en un orden no cronológico y cuenta tres historias entrelazadas. La primera de ellas sigue al asesino a sueldo Vincent Vega mientras se ocupa de cuidar de Mia Wallace. El boxeador Butch Coolidge es el protagonista de la segunda y, finalmente, la tercera concierne al compañero de Vincent, Jules Winnfield.17​18​ Las tres historias están relacionadas entre ellas para formar una intriga que ha sido descrita como «una trama por episodios, con acontecimientos circulares que tienen un principio y un final y en cuyos desarrollos se incluyen elementos y referencias a los otros episodios».19​ Estas tres historias están repartidas a lo largo de las seis partes de la película: <br>
            Prólogo
            La película comienza por la mañana, en una cafetería de Los Ángeles donde se encuentra una pareja de jóvenes criminales, Pumpkin (a quien Jules llama Ringo) y Yolanda (llamada también Honey Bunny) (Tim Roth y Amanda Plummer). Ambos discuten acerca de los riesgos que comporta su actividad y, finalmente, se deciden a atracar la misma cafetería en la que están. Se produce entonces el primer corte en la película y comienzan los créditos iniciales al ritmo de Misirlou.
            
            Preludio a Vincent Vega y Mia Wallace, la esposa de Marsellus Wallace
            Dos criminales vestidos de traje se encuentran en un coche en movimiento: Jules Winnfield (Samuel L. Jackson) y su compañero Vincent Vega (John Travolta), de carácter más relajado y que acaba de regresar de Ámsterdam. Tienen la misión de recuperar un maletín robado de contenido desconocido que pertenece a su jefe, Marsellus Wallace (Ving Rhames). Antes de comenzar con la tarea, charlan acerca de algunos temas (las diferencias entre la vida en Europa y en los Estados Unidos, las hamburguesas, etc.) y Vincent le comenta a Jules que Marsellus le ha encargado que le haga compañía a su esposa, Mia (Uma Thurman) durante una noche. Luego, armados con sus pistolas, irrumpen en una habitación en la que están desayunando los jóvenes delincuentes que intentaron sustraerle el maletín a Marsellus, Brett (Frank Whaley), Roger (Burr Steers) y Marvin (Phil LaMarr), quien resulta ser amigo de Jules. Finalmente, recuperan el maletín y, como se dice que es habitual en él, Jules cita un pasaje de la Biblia (que estaría en el Libro de Ezequiel) antes de acabar con la vida de Brett.
            
            Vincent Vega y la esposa de Marsellus Wallace
            Vincent y Jules se encuentran en un club de striptease para devolverle el maletín a Marsellus y, sorprendentemente, han cambiado sus elegantes trajes por ropa de playa. Al llegar, Marsellus le está entregando dinero a Butch Coolidge (Bruce Willis), un boxeador al final de su carrera, para que este pierda su último combate. Al finalizar, Jules y Vincent le entregan el maletín a Marsellus y se produce un pequeño encontronazo verbal entre Vincent y Butch.
            
            Más tarde y tras haber visitado a su camello Lance (Eric Stoltz), Vincent llega a la casa de Mia. La recoge y se dirigen al Jack Rabbit Slim's, un restaurante ambientado en la temática de la década de los 50 donde los camareros son dobles de famosos actores de entonces. Allí Mia se presenta voluntaria a un concurso de Twist. Pide a Vincent que participe con ella y ganan. Aparecen luego entrando en la casa de los Wallace, donde se deja entrever la buena relación entre ambos. Entonces Vincent se dirige al baño y allí toma la decisión de regresar a casa, pero mientras tanto, Mia encuentra en los bolsillos del abrigo de Vincent el paquete de heroína que Vincent le había comprado a Lance. Creyendo que se trataba de cocaína, la inhala y, cuando Vincent vuelve del baño, se encuentra a Mia en estado semicomatoso a causa de la sobredosis. Vincent decide llevar a Mia a casa de Lance y, una vez allí, aunque Lance se negaba a ayudarle al principio bajo el argumento que sus clientes saben usar la mercancía y con ayuda de Jody (Rosanna Arquette), la esposa de Lance, Vincent administra una dosis de adrenalina en pleno corazón de Mia. Así, la joven mujer recupera bruscamente la conciencia y, antes de separarse, decide con Vincent no volver a mencionar el incidente.
            
            Preludio a El reloj de oro
            Mientras duerme en el vestuario antes de su último combate, Butch Coolidge tiene un sueño en el que recuerda su infancia. En el mismo, el capitán Koons (Christopher Walken), amigo de su padre muerto en la guerra de Vietnam, le hace entrega de un reloj de oro que había pertenecido durante generaciones a la familia Coolidge.
            
            El reloj de oro
            Butch se despierta entonces repentinamente y, a pesar del acuerdo con Marsellus, gana el combate, llevándose así todo el dinero de las apuestas. Huye rápidamente del lugar y se refugia en un pequeño hotel con su novia Fabienne (Maria de Medeiros) antes de huir definitivamente del país. Sin embargo, Fabienne había olvidado recoger el reloj de oro del apartamento de ambos, por lo que Butch se arriesga y vuelve para intentar recuperarlo.
            
            Allí se encuentra con que Marsellus había enviado a Vincent Vega para ocuparse de él. Sin embargo, cuando Butch llega, Vincent se encuentra en el baño, lo que el exboxeador aprovecha para dispararle con su propia metralleta, matandolo y después se escapa de la escena del crimen dejando el cuerpo muerto de Vincent en el baño y su metralleta en un sillón. Mientras vuelve en coche al motel donde se encontraba su novia, Butch se encuentra en un paso de peatones con Marsellus en persona y lo atropella. Tras esto y tras golpear a otro vehículo, Butch es perseguido por Marsellus, ambos mareados y algo desorientados por semejantes lesiones sufridas hasta que los dos se encuentran golpeándose en una tienda de empeños. Allí, Maynard (Duane Whitaker), dueño de la tienda, les hace prisioneros y hace acudir a Zed (Peter Greene). Este viola a Marsellus mientras que Butch consigue liberarse e intenta escapar. Sin embargo, en el último momento decide volver y rescatar a Marsellus. Para ello, se arma con una katana e hiere mortalmente a Maynard. A continuación, amenaza a Zed, pero Marsellus dispara a este último con una escopeta. Entonces Marsellus le aclara la situación a Butch y le dice que todo está perdonado, a condición de que nunca hable de lo que sucedió en la tienda y de que no vuelva a Los Ángeles, bajo amenaza de muerte. Después Butch vuelve al motel con Fabienne en la chopper de Zed.
            
            La situación con Bonnie
            De nuevo en el apartamento con Jules y Vincent, un cuarto joven (Alexis Arquette) sale de repente del baño y dispara contra los dos gánsteres, pero Jules y Vincent, milagrosamente intactos, acaban con él. Mientras Vincent interroga a Marvin, su informador, sobre por qué no les había dicho que había alguien en el baño, Jules se queda reflexionando sobre la razón de su supervivencia. Mientras mira los agujeros de bala en la pared, llega a la conclusión de que se trata de una intervención divina.
            
            La conversación continúa más tarde en el coche, donde Jules le comenta a Vincent que va a dejar su vida actual. Este no le toma en serio y decide preguntarle a Marvin, que se encontraba en el asiento trasero, si él también piensa que se trató de una intervención divina. No obstante, por accidente, Vincent dispara a Marvin en la cabeza antes de haber planteado completamente la pregunta, dejando el coche lleno de sangre. Ante la situación, Jules llama a su amigo Jimmy (Quentin Tarantino), quien vive cerca de donde están. Allí dejan el coche en el garaje y, ante el enfado de Jimmy, quien les dice que están poniendo su matrimonio en peligro, Jules contacta con Marsellus Wallace para pedirle ayuda. Al final, este decide enviarle al sr. Winston Lobo (Harvey Keitel), alguien que se encarga de «solucionar problemas». Bajo las órdenes del Lobo, lavan el coche, esconden el cadáver y los restos de Marvin y se ponen ropa de playa en lugar de sus trajes, que habían sido manchados. A continuación, se deshacen del vehículo, se despiden del Sr. Lobo y se van a desayunar al restaurante donde se encontraban Pumpkin y Honey Bunny.
            
            Epílogo
            Mientras, en la cafetería, Vincent se retira un momento al baño, los dos jóvenes atracadores comienzan el asalto. Jules, como los otros clientes, le entrega su cartera a Pumpkin, pero este le ordena que abra el maletín. Cuando Jules lo abre, Pumpkin queda fascinado por lo que ve y Jules aprovecha el momento para agarrar su pistola y tomar el control de la situación. Yolanda apunta entonces a Jules, pero Vincent sale del baño a tiempo para apuntar a Yolanda, en una especie de duelo a la mexicana. Como primer acto de redención de su nueva vida, Jules pronuncia la célebre frase de Ezequiel y permite que Pumpkin y Yolanda se vayan con el dinero, simbólicamente comprando el perdón y la vida de los asaltantes, pero no les deja el maletín. Para finalizar, se ve a Vincent y Jules saliendo de la cafetería dispuestos a entregarle el maletín a Marsellus. </p>

        <hr>
    

        <h3 id="reparto">Reparto</h3> <br>
        <p>John Travolta - Vincent Vega <br>
            Uma Thurman - Mia Wallace <br>
            Samuel L. Jackson - Jules Winnfield <br>
            Bruce Willis - Butch Coolidge <br>
            Harvey Keitel - Winston Lobo <br>
            Tim Roth - Pumpkin o Ringo <br>
            Ving Rhames - Marsellus Wallace <br>
            Amanda Plummer - Yolanda o Honey Bunny <br>
            Maria de Medeiros - Fabienne <br>
            Eric Stoltz - Lance <br>
            Christopher Walken - Capitán Koons <br>
            Rosanna Arquette- Jody</p>

        <hr>
        

        <h3 id="produccion">Producción</h3> <br>
        <p>Quentin Tarantino escribió el guion de Pulp Fiction a finales de 1992 en un apartamento de Ámsterdam,20​ donde no había teléfono ni fax; de vuelta a Los Ángeles, contó con la ayuda de Linda Chen, secretaria del guionista y director de cine Robert Towne, que le ayudó a mecanografiarlo y así de esta manera ser más fácil moverlo entre los productores de Hollywood.21​ Los ejecutivos de TriStar Pictures rechazaron el guion22​ de un Tarantino, que ya tenía un cierto prestigio, tras Reservoir Dogs y los guiones de True Romance y Natural Born Killers.

            El personaje de Vincent Vega inicialmente iba a llamarse Vic Vega, ya que Michael Madsen repetiría el papel que interpretó en Reservoir Dogs. Finalmente, al declinar Madsen la invitación para intervenir en la cinta por integrarse al elenco de Wyatt Earp, el nombre del personaje cambió a Vincent Vega y Daniel Day-Lewis fue considerado para sustituirlo aunque finalmente Tarantino eligió a John Travolta para interpretar el rol.23​
            
            Para el papel de Mia Wallace se consideró a Molly Ringwald, Holly Hunter, Patricia Arquette, Isabella Rossellini, Meg Tilly, Alfre Woodard, Amy Irving, Kim Basinger, Melanie Griffith, Meg Ryan, Michelle Pfeiffer, Bridget Fonda y Helen Slater. Tarantino también llegó a pensar en Julia Roberts, pero su salario era demasiado alto para una película de bajo presupuesto. Finalmente y después de varias audiciones, la elegida fue Uma Thurman.
            
            El papel de Butch Coolidge inicialmente iba a ser protagonizado por Harrison Ford. Después de que Ford abandonara el proyecto, Tarantino pensó brevemente en Sylvester Stallone o Michael Biehn, hasta que seleccionó a Bruce Willis para el papel.
            
            La película se rodó entre el 20 de septiembre y 30 de noviembre de 1993 y se estrenó en el festival de cine de Cannes de 1994, donde recibió la Palma de Oro. El 14 de octubre de 1994 tuvo su estreno en los Estados Unidos, con grandes elogios por la crítica. Pulp Fiction recaudó 214.179.088 dólares a nivel mundial, lo que la puso entre las películas más taquilleras de 1994-1995.</p>

        <hr>
    </div>
    <div id="tabla_contenido" class="col-md-3 order-1 align-self-start mt-4">
        <h3>Tabla de Contenido</h3>
        <ul class = "list">
            <li><%= link_to 'Argumento', '#argumento' %></li>
            <li><%= link_to 'Reparto', '#reparto' %></li>
            <li><%= link_to 'Producción', '#produccion' %></li>
            <br>
            <%= link_to "Volver al Inicio", "/" %>
        </ul>
    </div>

</div>