<div class="row">
    <div class="col-md-9 order-2 scrollable-column">
        <h1>The Matrix</h1>
        <br>
        <div class="container">
            <%= image_tag('fulls/07.jpg', width: 400, height: 300)%>
        </div>
        
        <br>
        <br>
        <p>The Matrix (conocida como Matrix en Hispanoamérica) es una película de acción y ciencia ficción de 1999 escrita y dirigida por las hermanas Wachowski y protagonizada por Keanu Reeves, Laurence Fishburne, Carrie-Anne Moss y Hugo Weaving. Representa un futuro distópico en el que la humanidad está atrapada sin saberlo dentro de una realidad simulada llamada Matrix, que las máquinas inteligentes han creado para distraer a los humanos mientras usan sus cuerpos como fuente de energía en campos de cultivo.1​ Cuando el programador informático Thomas Anderson, bajo el alias de hacker "Neo", descubre la incómoda verdad, se une a una rebelión contra las máquinas junto con otras personas que han sido liberadas de Matrix. Siendo estrenada en los Estados Unidos el 31 de marzo de 1999, es la primera entrega de la franquicia Matrix, de la que derivan (dado su éxito) una serie de videojuegos, cortos animados y cómics, llegando a ser un claro ejemplo del subgénero cyberpunk.

            En su argumento, se establecen paralelismos con algunos conceptos religiosos, filosóficos e ideológicos. Además, esta obra significa un antes y un después en los efectos visuales de la época, entre los cuales se destaca el «tiempo bala» (bullet time), técnica que consiste en aparentar que se congela la acción mientras la cámara sigue moviéndose alrededor de la escena, un efecto visual que se consigue utilizando múltiples cámaras que graban la acción desde distintas posiciones a una cantidad elevada de fotogramas por segundo, y que posteriormente intercalan los fotogramas de cada una de las cámaras. Aunque es un efecto muy revolucionario, no fue la primera vez que hizo su aparición en el cine (anteriormente fue usado en películas como Jumanji, entre otras), pero fue con este filme cuando surgió un gran interés por este efecto, y que posteriormente fue utilizado en otras películas. El enfoque de las escenas de acción de las Wachowski fue influenciado por el anime japonés, las películas de artes marciales y el uso de la película de coreógrafos de lucha y técnicas de wire fu del cine de acción de Hong Kong.
            
            La película, reconocida con cuatro Premios Óscar (Mejor montaje, Mejor sonido, Mejor edición de sonido y Mejores efectos visuales), se ha vuelto una cinta de culto y fue incluida en el National Film Registry de la Biblioteca del Congreso de Estados Unidos en 2012.2​ El éxito de la película llevó al lanzamiento de dos secuelas cinematográficas en 2003, The Matrix Reloaded y The Matrix Revolutions, que también fueron escritas y dirigidas por las Wachowski. Una cuarta película, The Matrix Resurrections, se estrenó el 22 de diciembre de 2021.</p>

        <hr>
        

        <h3 id="argumento">Argumento</h3> <br>
        
        <p>Thomas Anderson (Keanu Reeves) es programador informático de día y un hacker llamado Neo de noche. Lleva toda su vida intuyendo que hay algo más, que hay algo que falla y esa duda se ve reafirmada con un mensaje recibido en su ordenador: «Matrix te posee». Así, Neo comienza la búsqueda desesperada de una persona de la que solo ha oído hablar: otro hacker llamado Morfeo (Laurence Fishburne), alguien que puede darle la respuesta a las preguntas que persigue: ¿Qué es Matrix? y ¿por qué lo posee a él?3​ Morfeo y su equipo, al darse cuenta de que sus enemigos están buscando a Neo, deciden entrar en contacto con él. La hacker Trinity (Carrie-Anne Moss), amiga de Morfeo, lo conduce hasta él y la respuesta que busca. Pero para obtenerla debe renunciar a su vida anterior y a todo lo que había conocido antes. El símbolo de dicho proceso es aceptar tomar una píldora roja; en cambio, la píldora azul podría devolverlo a su mundo actual sin que, aparentemente, nada de lo que está sucediendo hubiera pasado. Neo acepta tomar la pastilla roja, olvidar su vida y todo lo que conoce para descubrir «qué es Matrix».

            Neo descubre que el mundo en el que creía vivir no es más que una simulación virtual a la que se encuentra conectado mediante un cable enchufado en su cerebro. Los miles de millones de seres humanos que viven (conectados) a su alrededor están siendo cultivados del mismo modo para poder dar energía a las máquinas en un mundo post-apocalíptico. Esta ilusión colectiva (o simulación interactiva) es conocida como The Matrix4​(la matriz).5​ La simulación intenta recrear el modo de vida humana tal y como era a finales del siglo XX.
            
            El grupo de rebeldes del mundo real liderados por Morfeo rescata a Neo de la cosecha de humanos donde se encontraba preso. Una vez liberado, Morfeo le explica en qué consiste la realidad. Se encuentran cerca del año 2199 (aunque esta es la fecha que Morfeo estima, en realidad están cerca del 3199 tal y como se descubre al final de Matrix Reloaded) y la humanidad está esclavizada por las máquinas, que tras el desarrollo de la IA (Inteligencia Artificial) se rebelaron contra su creador, la humanidad. La revolución desembocó en una gran guerra por la supervivencia de ambos contendientes. Esta, a su vez, desembocó en el deterioro del medio ambiente, haciéndolo insostenible para humanos y máquinas. En palabras de Morfeo:
            «[...] no se sabe quién atacó primero, si nosotros o ellos, pero sí sabemos que nosotros arrasamos el cielo».
            Morfeo, personaje de Matrix (1999), creado por las Hermanas Wachowski
            Las máquinas, tras vencer la guerra y quedar privadas de la energía solar que necesitaban para funcionar, dominan la superficie terrestre y emplean a la especie humana como fuente de energía, cosechándolos en grandes campos de cultivo. También Morfeo habla, aunque indirectamente, de la operación Tormenta negra, Dark Storm, la cual, durante la guerra entre humanidad y máquinas, se ideó para debilitar a las máquinas, que funcionaban con energía solar. Morfeo también le cuenta a Neo que cree que él es «el Elegido». Entre los sobrevivientes humanos, organizados en un último reducto del subsuelo llamado Sion, existe una profecía que augura que un elegido será capaz de liberar a la humanidad de la esclavitud a la que está sometida. «El Elegido» podría cambiar la Matrix a su voluntad, otorgando así la victoria a los humanos.
            
            El mundo virtual de Matrix se convierte en el campo de batalla donde Neo tiene que combatir a los agentes, programas antropomórficos capaces de poseer a cualquier habitante de Matrix que la resistencia no haya liberado, y en particular contra el temible Agente Smith (Hugo Weaving). Estos intentan impedir que los rebeldes rescaten a las personas que están conectadas, ya que están programados para capturar a cualquier intruso que altere la realidad de Matrix. En este mundo virtual, los seres humanos que son conscientes de la verdadera esencia de lo que les rodea son capaces de desafiar parcialmente las leyes físicas y realizar hazañas asombrosas. Lo que el grupo no sabe es que Cypher, un veterano miembro de la nave, los traicionará al entrar en tratos con el Agente Smith para entregarle a Morfeo.
            
            Un día, Morfeo decide ir a Matrix para que Neo vea al Oráculo, la misma que hizo la profecía del elegido. Ella le dice que él no es «el elegido», añadiendo «tal vez en la próxima vida», pero que Morfeo creía en él ciegamente. Añade que Neo tendría que elegir entre salvar su propia vida o la de Morfeo. Al volver de hablar con el Oráculo, se ven atrapados por agentes y policías en el edificio por donde entraron. Los agentes matan a Mouse y capturan a Morfeo cuando este intenta salvar a Neo. Los demás escapan, pero el traidor Cypher mata a Dozer, Apoc y a Switch y solo quedan con vida Trinity, Neo, Morfeo y Tank, quien, aunque herido, se encarga de eliminar al traidor para salvar a sus compañeros. Cuando van a desconectar a Morfeo, para que las máquinas no obtengan los códigos del ordenador central de Sion, Neo recuerda las palabras del Oráculo y decide ir a rescatarlo.
            
            Al no lograr disuadirlo, Trinity decide acompañarlo. Después de una espectacular lucha contra los soldados y agentes que custodian el edificio donde Morfeo está detenido, consiguen liberarlo. Morfeo y Trinity vuelven al mundo real por el teléfono de una estación de metro, pero cuando Neo les iba a seguir, el Agente Smith se lo impide. En vez de huir, se enfrenta a él y con dificultad le vence, pero el Agente Smith toma otro cuerpo, por lo que Neo intenta escapar seguido de otros dos agentes. Finalmente, el Agente Smith lo acorrala y le dispara, matándolo. Morfeo está estremecido, ya que además hay centinelas atacando la nave, pero Trinity le dice al cuerpo de Neo que no puede estar muerto, y que él tiene que ser «El Elegido» porque el Oráculo le dijo a ella que se enamoraría del elegido y Trinity estaba enamorada de él. Luego le besa y Neo resucita. Sorprendido, el Agente Smith le dispara, pero Neo detiene las balas, parando con facilidad sus golpes y lo destruye, mientras los otros dos agentes huyen. Neo se da cuenta de que es «el elegido» y vuelve al mundo real justo antes de que Morfeo use un pulso electromagnético contra los centinelas (las máquinas enemigas) que habían invadido la nave. </p>

        <hr>
    

        <h3 id="reparto">Reparto</h3> <br>
        <p>Keanu Reeves como Thomas Anderson / Neo <br>
            Carrie-Ann Moss como Trinity. <br>
            Laurence Fishburne como Morfeo. <br>
            Hugo Weaving como Agente Smith. <br>
            Joe Pantoliano como Cypher. <br>
            Gloria Foster como El Oráculo. <br>
            Marcus Chong como Tank. <br>
            Belinda McClory como Switch. <br>
            Anthony Ray Parker como Dozer. <br>
            Julian Arahanga como Apoc. <br>
            Matt Doran como Mouse. <br>
            Paul Goddart como Agente Brown. <br>
            Robert Taylor como Agente Jones. <br>
            Bill Young como Teniente. <br>
            Rowan Witt como el «niño de la cuchara». <br>
        </p>

        <hr>
        

        <h3 id="produccion">Producción</h3> <br>
        <p>Las hermanas Wachowski se inspiraron para hacer The Matrix en películas de animación japonesa como Ghost in the Shell (1995). Para el rodaje, los actores principales invirtieron cuatro meses con expertos en artes marciales, para aprender todos los movimientos. Eso ocurrió desde octubre de 1997 hasta marzo de 1998. Adicionalmente, para el filme se construyeron 30 decorados futuristas necesarios para la ambientación fantástica de la película y se utilizaron otros ya presentes.</p>

        <hr>
    </div>
    <div id="tabla_contenido" class="col-md-3 order-1 align-self-start mt-4">
        <h3>Tabla de Contenido</h3>
        <ul class = "list">
            <li><%= link_to 'Argumento', '#argumento' %></li>
            <li><%= link_to 'Reparto', '#reparto' %></li>
            <li><%= link_to 'Producción', '#produccion' %></li>
            <br>
            <%= link_to "Volver al Inicio", "/" %>
        </ul>
    </div>

</div>