<div class="row">
    <div class="col-md-9 order-2 scrollable-column">
        <h1>Kill Bill: Volumen 1</h1>
        <br>
        <div class="container">
            <%= image_tag('fulls/05.jpg', width: 400, height: 300)%>
        </div>
        
        <br>
        <br>
        <p>Kill Bill: Volumen 1 es una película de acción y suspense estadounidense escrita y dirigida por Quentin Tarantino. Es la primera de las dos películas que fueron lanzadas en cines aparte varios meses, la segunda titulada Kill Bill: Volumen 2. La película fue originalmente programada para un estreno único, pero con una duración de más de cuatro horas, finalmente siendo separada en dos volúmenes. Kill Bill: Volumen 1 fue estrenada a finales de 2003, y Kill Bill: Volumen 2 fue lanzada a inicios de 2004. Las dos películas son frecuentemente referidas como «Kill Bill». La película está protagonizada por Uma Thurman, David Carradine, Vivica A. Fox, Lucy Liu, Michael Madsen, Sonny Chiba y Daryl Hannah.

            Las dos películas siguen a un personaje inicialmente identificada como «La Novia», un antiguo miembro de un equipo de asesinos que busca venganza de sus excolegas que masacraron a los miembros de su fiesta de boda e intentaron matarla. La película es a menudo notada por su estilo de dirección y su homenaje a los géneros cinematográficos como las películas de artes marciales hongkonesas, las películas de samuráis, spaghetti western, chicas pistoleras, y violación y venganza.
            
            La película comenzó con una dedicatoria al director japonés Kinji Fukasaku, y estuvo inspirada en la película de animación japonesa Blood: The Last Vampire. Una edición diferente de la película fue lanzada específicamente para Japón, y fue estrenada varias semanas más tarde. Mientras que la versión estadounidense muestra la escena de la batalla contra el grupo "Los 88 maníacos" en blanco y negro, la versión japonesa y europea la muestra totalmente en color. El rodaje de la película duró 8 meses y muchas de sus escenas fueron filmadas en Japón. Miramax es la distribuidora en los Estados Unidos.</p>

        <hr>
        

        <h3 id="argumento">Argumento</h3> <br>
        
        <p> La película abre con un intertítulo mostrando el proverbio «La venganza es un plato que se sirve mejor frío». Una mujer embarazada (Uma Thurman), conocida como «La Novia», está recostada en el suelo severamente herida en su boda, hablando con Bill (David Carradine) sobre el bebé que lleva dentro de ella; sin embargo, Bill le dispara en la cabeza. Más tarde, se entera que sobrevivió milagrosamente al disparo, pero estuvo en coma por cuatro años.

            Fuera de la secuencia, la película muestra el asesinato de la segunda venganza de la Novia después de su recuperación. La Novia encuentra a Vernita Green (Vivica A. Fox) en su casa y pelea con ella, pero se detienen cuando Nikki, la hija de Vernita, llega de la escuela. Se revela que ambas son miembros antiguos del Escuadrón Asesino Víbora Letal, asesinos de élite bajo el mando de Bill. Bill ordenó el ataque a la Novia en venganza de su decisión de dejarlo y casarse en secreto con otro hombre. Mientras las dos mujeres están hablando en la cocina durante su tregua, Vernita intenta matar a la Novia con un revólver escondido en una caja de cereal Kaboom. El disparo no da en la Novia, quien toma represalias lanzando un cuchillo al pecho de Vernita, que cae muerta lentamente. Cuando la Novia nota que Nikki está de pie en la entrada, le ofrece la oportunidad de vengarse cuando sea adulta, y finalmente deja la casa. La Novia tacha el nombre de Vernita en su lista.
            
            Regresando al tiempo de su coma, otro miembro del escuadrón, la monocular Elle Driver (Daryl Hannah) entra al cuarto del hospital de La Novia donde permanece en coma, y prepara una inyección letal, pero es interrumpida por Bill en el teléfono, quien declara que ellos tomarán acción solamente si ella despierta; Elle, que tomó el lugar de la Novia como amante de Bill, acepta de mala gana, pero le advierte a la Novia que es mejor que jamás despierte. Cuatro años más tarde, la Novia despierta y está horrorizada al descubrir que ya no está embarazada. Mientras tanto, se entera de que un empleado del hospital llamado Buck estuvo violándola en su estado de coma, y en ese momento se encuentra aceptando dinero de un camionero que quiere hacer lo mismo con ella. Mientras el camionero se prepara para asaltarla, la Novia muerde su lengua y lo mata. A pesar de estar incapacitada, mata a Buck propinándole fuertes golpes en la cabeza entre una puerta y su jamba, y roba la camioneta de Buck. Jura venganza e indica su primer objetivo: O-Ren Ishii (Lucy Liu). En secuencias flashback, la Novia explica que O-Ren era hija de un militar chino-estadounidense y su esposa japonesa, los cuales fueron asesinados por uno de los peores jefes yakuza, el jefe Matsumoto. O-Ren sobrevivió debido a que sus padres la escondieron bajo una cama, pero presenció el asesinato de sus padres; un par de años después, aprovechando que el jefe Matsumoto era pedófilo, logró vengar a sus padres asesinando al jefe Matsumoto. A los 20 años, se volvió una de las mejores asesinas a sueldo del mundo y a los 25, participó en la matanza de Palo Alto, donde ella y los demás miembros del Escuadrón asesinaron a todas las personas dentro de una iglesia, excepto a la Novia. Años después, se convirtió en la líder yakuza de Tokio con ayuda de Bill; durante la fiesta de celebración uno de los miembros del Consejo Yakuza, el jefe Tanaka, insulta a O-Ren porque no la considera digna de ser su líder por ser japonesa y chino-americana. O-Ren le corta la cabeza al jefe Tanaka y, con la asistencia de Sofie Fatale (Julie Dreyfus), asistente de O-Ren y antigua protegida de Bill, aclara que aunque aceptará que los demás miembros del Consejo pongan en duda sus decisiones, no aceptará que se hable de su ascendencia como algo negativo.
            
            Una vez recuperada, la Novia viaja a Okinawa para obtener una espada del legendario elaborador de espadas Hattori Hanzō (Sonny Chiba), quien juró nunca forjar una espada otra vez. Después de enterarse de que su objetivo es su antiguo estudiante, Bill, acepta forjar la espada más fina por una obligación moral. La Novia localiza a O-Ren en un club nocturno en Tokio, retándola a una pelea y cercenando el brazo de Sofie Fatale (quien también estuvo durante la masacre.) Entonces, pelea con el ejército yakuza de O-Ren, incluyendo el escuadrón de élite de los 88 Maníacos y la guardaespaldas personal de O-Ren, una sádica joven de 17 años Gogo Yubari (Chiaki Kuriyama), antes de enfrentarse a O-Ren en un jardín japonés cubierto de nieve y la asesina. Finalmente, tortura a Sofie para obtener información sobre Bill, dejando a Sofie viva para contarle a Bill que la Novia están en camino para matar a los otros y a él. La película termina con Bill preguntando a Sofie si la Novia sabe que su hija está viva.</p>

        <hr>
    

        <h3 id="reparto">Reparto</h3> <br>
        <p>Uma Thurman (1970) como La Novia/Beatrix Kiddo (Mamba Negra) <br>
            David Carradine (1936-2009) como Bill (Encantador de Serpientes) <br>
            Lucy Liu (1968) como O-Ren Ishii (Mocasín) <br>
            Vivica A. Fox (1964) como Vernita Green (Cascabel) <br>
            Michael Madsen (1957) como Budd (Crótalo Cornudo): <br>
            Daryl Hannah (1960) como Elle Driver (Crótalo de California) <br>
            Julie Dreyfus (1966) como Sofie Fatale <br>
            Sonny Chiba (1939-2021) como Hattori Hanzo <br>
            Kenji Ōba como Shiro <br>
            Ambrosia Kelley como Nikki Green <br>
            Michael Parks como Earl McGraw <br>
            James Parks como Edgar McGraw <br>
            Michael Bowen como Buck <br>
            Jonathan Loughran como un camionero al que Buck vende a La Novia <br>
            Gordon Liu como Johnny Mo <br>
            Tetsuro Shimaguchi como Miki <br>
            Juri Manase como una integrante de los 88 maníacos <br>
            Jun Kunimura como Jefe Tanaka <br>
            Chiaki Kuriyama como Gogo Yubari <br>
            Sakichi Sato como Charlie Brown <br>
            Yuki Kazamatsuri como la propietaria de la Casa de las Hojas Azules <br>
            Yoshijuki Morishita como un hombre de negocios de Tokio que es asesinado por Gogo. <br>
            El grupo The 5.6.7.8's (Sachiko Fuji, Yoshiko Yamaguchi y Ronnie Yoshiko Fujiyama) interpretando a ellas mismas <br>
            
        </p>

        <hr>
        

        <h3 id="produccion">Evolución</h3> <br>
        <p>Quentin Tarantino intentó producir Kill Bill como una película. Con un presupuesto de 55 millones de dólares, producción finalizada en 155 días. Harvey Weinstein, el entonces coprincipal de Miramax Films, fue conocido por presionar a los directores para mantener sus películas con una duración considerablemente corta. Cuando Tarantino empezó la edición de la película, él y Weinstein se pusieron de acuerdo en cortar la película en dos. Con la propuesta, Tarantino editaría una película más completa, y Weinstein tendría películas con aceptables tiempos de duración. La decisión para cortar Kill Bill en dos volúmenes fue anunciada en julio de 2003.1​</p>

        <hr>
    </div>
    <div id="tabla_contenido" class="col-md-3 order-1 align-self-start mt-4">
        <h3>Tabla de Contenido</h3>
        <ul class = "list">
            <li><%= link_to 'Argumento', '#argumento' %></li>
            <li><%= link_to 'Reparto', '#reparto' %></li>
            <li><%= link_to 'Producción', '#produccion' %></li>
            <br>
            <%= link_to "Volver al Inicio", "/" %>
        </ul>
    </div>

</div>